body {
  background-color: #fff5ff;
  font-family: "Playfair Display", serif;
}

.app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}

* {
  color: rgb(146, 0, 141);
}

.line {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 0 0 5px 0;
}

.city {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
}

.details {
  color: #9f9f9f;
}

.temperature {
  display: flex;
}

.number {
  font-size: 60px;
  font-weight: bold;
  margin-left: 5px;
}
.icon {
  font-size: 27px;
  margin-top: 25px;
}

.degree {
  font-size: 15px;
  margin-top: 20px;
}
.search-form-input {
  background-color: #f6f5fa;
  border: none;
  border-radius: 10px;
  max-width: 80%;
  width: 80%;
  padding: 15px 20px;
  margin: 10px auto;
}

.search-form-button {
  background-color: rgb(146, 0, 141);
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  color: white;
  margin-left: 3px;
  font-size: 12px;
}

.data {
  display: flex;
  justify-content: space-between;
}

.details {
  color: #9f9f9f;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.details strong {
  color: rgb(223, 0, 104);
}

main {
  padding: 20px 0;
}
footer {
  border-top: 1px solid rgb(208, 208, 208);
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #9f9f9f;
}
